<h2>Eventos</h2>
<hr>
<div class="form-inline">
  <div class="form-group mb-2 row">
    <div class="col-md-11">
      <input type="text" [(ngModel)]="filtroLista" class="form-control mr-2" placeholder="buscar">
    </div>
    <div class="col-md-1">
      <button class="btn btn-outline-success">Buscar</button>
    </div>
  </div>
</div>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>
        <button (click)="exibicaoImagem()" type="button" class="btn btn-outline-light btn-sm">{{!mostrarImagem ? 'Mostrar' : 'Ocultar'}}</button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd pessoas</th>
      <th>Lote</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody *ngIf="eventosFiltrados && eventosFiltrados.length > 0">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img [collapse]="!mostrarImagem" [isAnimated]="true"
        src="/assets/{{evento.imagemURL}}" [style.width.px]="larguraImagemGrid" >
      </td>
      <td>{{evento.eventoId}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento}}</td>
      <td>{{evento.qtdPessoa}}</td>
      <td>{{evento.lote}}</td>
      <td>
        <button style="margin-right: 5px" type="button" class="btn btn-primary btn-sm">Editar</button>
        <button type="button" class="btn btn-danger btn-sm">Excluir</button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos || eventos.length == 0">
    <tr>
      <td colspan="8">
        <h4>Nenhum item encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>

