<h2>Eventos</h2>
<hr>
<form action="" class="form-inline">
  <div class="form-group mb-2 row">
    <div class="col-md-11">
      <input type="text" class="form-control mr-2" placeholder="buscar">
    </div>
    <div class="col-md-1">
      <button class="btn btn-outline-success">Buscar</button>
    </div>
  </div>
</form>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>#</th>
      <th>Imagem</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd pessoas</th>
      <th>Lote</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let evento of eventos">
      <td>{{evento.id}}</td>
      <td></td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.data}}</td>
      <td>{{evento.qtdPessoa}}</td>
      <td>{{evento.lote}}</td>
      <td></td>
    </tr>
  </tbody>
</table>

